parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    ignoreErrors:
        - '/Parameter #1 \$json of function json_decode expects string, string\|true given./'
